gradio 
torch --index-url https://download.pytorch.org/whl/cu118
torchvision
torchaudio
datasets
transformers
peft
accelerate
pandas
bitsandbytes>=0.43.0
sentencepiece>=0.2.0
protobuf>=3.20.0
scipy>=1.10.0
huggingface-hub